body {
				width: 100%;
				background-color: #dedede;
			}
			header  {
				color: red;
				background-color: #080808;
				padding-top: 40px;
				font-size: 33px;
				text-align: center;
				height: 150px;
			}
			footer  {
				color: red;
				background-color: #080808;
				font-size: 26px;
				text-align: center;
				height: 80px;
				clear: left;
				padding-top: 36px;
			}
			aside  {
				background-color: #dedede;
				float: left;
				width: 150px;
				font-size: 22px;
				text-align: center;
				border-right: 1px solid #080808;
				padding-right: 20px;
			}
			section  {
				text-align: center;
			}
			aside ul {
				list-style-type: none;
			}
			a  {
				text-decoration: none;
				color: black;
			}
			a:hover  {
				color: red;
			}
